h2, h5, section {
    text-align: center;
}
h2, h5{
    margin: auto
}

ul{
    list-style: none;
  }
li{
    display: inline;
    padding: .3em;
  }
body {
    background:  grey;
    color: black;
  }
  a {
      color: black
  }
  